@media(max-width:430px) {
    body {
        background: url(../images/bg-mobile.svg) var(--violet) no-repeat;
    }

    .header {
        padding: 40px 15px;
    }

    .header .logo {
        width: 180px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        padding: 40px 15px;
        justify-content: center;
    }

    .hero .illustration {
        width: 100%;
        margin-bottom: 40px;
    }

    .hero .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        gap: 40px;
    }

    .hero .info .title {
        font-size: 32px;
    }

    .hero .info .button {
        align-self: center;
    }

    .footer {
        flex-direction: row;
        justify-content: center;
    }
}