html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    background: url(../images/bg-desktop.svg) var(--violet) no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    max-width: var(--max-width);
    height: 100vh;
    margin: 0 auto;
}

/* HEADER */
.header {
    display: flex;
    padding: 20px 40px;
}

.header .logo {
    width: 240px;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.hero .illustration {
    margin-right: 64px;
}

.hero .info {
    display: flex;
    flex-direction: column;
    width: 27%;
    gap: 40px;
}

.hero .info h1 {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

.hero .info p {
    font-size: 1.6rem;
    font-weight: 400;
}

.hero .info .button {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--violet);
    background-color: #fff;
    width: 180px;
    padding: 12px 40px;
    border-radius: 50px;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.hero .info .button:hover {
    background-color: var(--soft-magenta);
    color: #fff;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: row-reverse;
    max-width: var(--max-width);
    padding: 20px 40px 40px;
}

.footer .redes-sociais .icone-redes {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.footer .redes-sociais .icone-redes li {
    display: flex;
    width: 50px;
    height: 50px;
    border: #fff 2px solid;
    border-radius: 100px;
    padding: 12px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.footer .redes-sociais .icone-redes li a i {
    color: #fff;
    font-weight: 500;
    font-size: 2.4rem;
    transition: 0.3s;
}

.footer .redes-sociais .icone-redes li:hover,
.footer .redes-sociais .icone-redes li:hover i {
    color: var(--soft-magenta);
    border-color: var(--soft-magenta);
}